<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <h1 class="primary">User Registration</h1>
        </div>


        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register account with email and password</p>

                <form [formGroup]="registrationForm" (ngSubmit)="registerEmployee()">






                    <div class="input-group mb-3">
                        <input [class.is-invalid]="registrationForm.get('userEmail')?.invalid &&
            registrationForm.get('userEmail')?.touched" formControlName="userEmail" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <div class="invalid-feedback" *ngIf="(userEmail?.invalid && userEmail?.touched) || userEmail?.dirty">
                            <small *ngIf="userEmail?.errors?.required" class="text-danger">Email is required</small>
                            <small *ngIf="userEmail?.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                        </div>
                    </div>

                    <div class="form-group input-group mb-3">
                        <input [class.is-invalid]="registrationForm.get('password')?.invalid &&
                  registrationForm.get('password')?.touched" formControlName="password" #password type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <span class="input-group-text">
                <i class="fas fa-key"></i>
              </span>
                        </div>
                        <div class="invalid-feedback">
                            <small [class.d-none]="registrationForm.get('password')?.valid ||
              registrationForm.get('password')?.untouched" class="text-danger">Password is required</small>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-5">
                            <button [disabled]='!registrationForm.valid' type="submit" (click)="_authService.Signup(userEmail?.value, password.value)" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>