<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="index3.html" class="brand-link">
    <img src="../../assets/images/gtechlogo.png" alt="gtech-logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">G-TECH</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="fas fa-users  nav-icon"></i>
            <p>Accounts<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" routerLink="/employee" class="nav-link">
                <i class="fas fa-user-plus  nav-icon"></i>
                <p>Employees</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="./index2.html" class="nav-link">
                <i class="fas fa-user-friends  nav-icon"></i>
                <p>Groups & Permissions</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="/region" class="nav-link">
            <i class="nav-icon fas fa-map"></i>
            <p>Regions</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="/warehouse" class="nav-link">
            <i class="nav-icon fas fa-warehouse"></i>
            <p>Warehouse</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="/workorder" class="nav-link">
            <i class="nav-icon fas fa-briefcase"></i>
            <p>Work Order</p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="/stock" class="nav-link">
            <i class="nav-icon fas fa-boxes"></i>
            <p>Items<i class="fas fa-angle-left right"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/stock" class="nav-link">
                <i class="fas fa-box nav-icon"></i>
                <p>Stock</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>Requistion</p>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
